<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="knockoutjs" version="3.4.2" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net461" />
</packages>